.font-sans{
    font-family: ui-sans-serif,
    system-ui,  
    "Segoe UI",
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif, 
    "Apple Color Emoji",
    "Segoe UI Emoji", 
    "Segoe UI Symbol",
    "Noto Color Emoji";
}
font-serif{
    font-family:
     ui-serif,
     Georgia,
    "Times New Roman",
     Times, serif;
}
font-mono{
    font-family: 
    ui-monospace, 
     "Liberation Mono",
      "Courier New",
       monospace;
}