button-12{
    background-color: red; /* Green */
    border: 12px solid ;
    color: rgb(0, 0, 0);
    padding: 18px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;

    cursor: pointer;
}