button-2{
    background-color: #4CAF50; /* Green */
    border: 2px solid ;
    color: black;
    padding: 18px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;

    cursor: pointer;
}